<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if request.user.is_authenticated %}
        <h1>Salom, {{request.user.username}}</h1>
        <a href="{% url 'logout' %}">Saytdan chiqish</a>
    {% else %}
        <a href="{% url 'login' %}">Saytga kirish</a>
    {% endif %}
    <br>
    <br>
    <hr>
    <br>
    <br>
    {% block content %}
    {% endblock content %}
</body>
</html>